<div class="col-sm-8 blog-main">
  
  <h2><%= @blog.title %></h2>
  
  <a><%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %></a>
  
  <p>
    <%= @blog.body %>
  </p>
  
  <!--start comment form-->
  <%= render "comments/comment_form" %>
  <!--end comment form-->
  
  <!--start comments-->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

  <!--end comments-->
</div>



