<%= form_for(portfolio_item) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="form-grou">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control"%>
      </div>
      
      <div class="form-group text-center">
        <label class="btn btn-primary">
          Upload a main image file <%= f.file_field :main_image, style: 'display:none;' %>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Technologies</h4>
      <ul class= "form-group">
        <%= f.fields_for :technologies do |technology_form| %>
          <%= render 'technology_fields', f: technology_form %>
        <% end %>
        
        <li>
          <%= link_to_add_association "Add Technology", f, :technologies %>
        </li>
      </ul>
      <div class="form-group text-center">
        <label class="btn btn-success portfolio-btn-custom">
          Upload a thumb image <%= f.file_field :thumb_image, style: 'display:none;' %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  </div>
<% end %>